.slick-prev:before, .slick-next:before {

    color: gray !important;
    font-size: 3rem !important;
}

.slick-next {
    right: 25px;
}

.slick-prev{
    left: 0px;
    z-index: 100;
}

.width-item {
    width: 100%  !important;
}

.active_Film {
    background-color: #2d3748; /* Tailwind bg-gray-800 */
    color: #fff; /* Tailwind text-white */
}

.none_active_Film {
    background-color: #fff; /* Tailwind bg-white */
    color: #2d3748; /* Tailwind text-gray-800 */
}

